.leaflet-container {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.leaflet-flatMarker-pane img.leaflet-marker-icon{
    filter: hue-rotate(155deg);
}
.leaflet-flatMarker-pane {
    z-index: 600;
}

.leaflet-flatAreaMarker-pane img.leaflet-marker-icon{
    filter: hue-rotate(-110deg);
}
.leaflet-flatAreaMarker-pane {
    z-index: 600;
}

.almost-fullscreen-modal>.modal-dialog{
    --bs-modal-width: 95%;
    --bs-modal-height: 95%;
}

@media (min-width: 1400px) {
    .almost-fullscreen-modal>.modal-dialog, .modal-xl {
        --bs-modal-width: 1340px;
    }
}